Node-Red_flow/flows.json
[
    {
        "id": "4fa23211c37e5c83",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0524c3836207d25",
        "type": "tab",
        "label": "weight sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "44d951df320b943c",
        "type": "tab",
        "label": "Enterence",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dbfc939b5e087fbd",
        "type": "tab",
        "label": "EXIT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "494bdff60aa691a5",
        "type": "tab",
        "label": "Session count",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96cb2a9686aefb1c",
        "type": "tab",
        "label": "database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba3706d711028372",
        "type": "tab",
        "label": "User UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fee81c6208094d25",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49d8a8f3a28d3a59",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.104",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ae9cddb0b75e48e2",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "0e5b3d56cf18a10d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "84100439.261df8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "edf6bc12.5d3b68",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "d07b3d46.1eeb68",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "a9750a80.6a1b68",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "d9bf7560.df5e58",
        "type": "ui_tab",
        "name": "Test",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0f1a4dac88527d33",
        "type": "ui_tab",
        "name": "Show Enterence QR",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8f826a3b.7a253",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f3353ae83be91e7b",
        "type": "ui_tab",
        "name": "Show Exit QR",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "9ffcd98d.0f7b68",
        "type": "ui_tab",
        "name": "Shopping",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e2df4e22.04d1b",
        "type": "ui_tab",
        "name": "Shopping Cart",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "6039eaa8d27e8a3b",
        "type": "ui_tab",
        "name": "payment",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "c2f8d840.9678f",
        "type": "ui_group",
        "name": "Upload Photos",
        "tab": "84100439.261df8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "49815634.41d21",
        "type": "ui_group",
        "name": "Face Detection",
        "tab": "edf6bc12.5d3b68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ebeac4e4.7201b",
        "type": "ui_group",
        "name": "Image Capture",
        "tab": "d07b3d46.1eeb68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "290eb81c.135d6e",
        "type": "ui_group",
        "name": "Image Upload",
        "tab": "a9750a80.6a1b68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ca2272c3.e8396",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d9bf7560.df5e58",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "a1db89b2574e6865",
        "type": "ui_group",
        "name": "",
        "tab": "0f1a4dac88527d33",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aaf7e001.08b458",
        "type": "ui_group",
        "name": "Image",
        "tab": "8f826a3b.7a253",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8e22e7257a62faa2",
        "type": "ui_group",
        "name": "",
        "tab": "f3353ae83be91e7b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e20789e7.8d42f8",
        "type": "ui_group",
        "name": "Products",
        "tab": "9ffcd98d.0f7b68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4be026df.e70194",
        "type": "ui_group",
        "name": "Cart",
        "tab": "9ffcd98d.0f7b68",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "48d96c8d.0808b8",
        "type": "ui_group",
        "name": "Cart",
        "tab": "e2df4e22.04d1b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b1231cf71da4eb96",
        "type": "ui_group",
        "name": "payment",
        "tab": "6039eaa8d27e8a3b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f58d98d.b30dc8",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "your_database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "56489a9b4f78aac7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "shopping_cart",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "ecd0e28ab844a25b",
        "type": "users_config",
        "appPath": "/users",
        "jwtCookieName": "nr.nodeUsers.jwt",
        "jwtHttpsOnly": false
    },
    {
        "id": "1e4587bc37a94679",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1b275e0adb0ce085",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5172bbaa94400992",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77d95b16fccf1b43",
        "type": "ui_group",
        "name": "Default",
        "tab": "5172bbaa94400992",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a178660bdd4edcb5",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "72ef6e844d8ea10e",
        "type": "mqtt in",
        "z": "4fa23211c37e5c83",
        "name": "",
        "topic": "f",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e4587bc37a94679",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "a7b0865254b5cbc9",
                "adbf08dcf2370cdd"
            ]
        ]
    },
    {
        "id": "a7b0865254b5cbc9",
        "type": "debug",
        "z": "4fa23211c37e5c83",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "adbf08dcf2370cdd",
        "type": "link out",
        "z": "4fa23211c37e5c83",
        "name": "face",
        "mode": "link",
        "links": [
            "9feeee335cad5eae"
        ],
        "x": 635,
        "y": 80,
        "wires": []
    },
    {
        "id": "5fde7c440feca9c7",
        "type": "function",
        "z": "e0524c3836207d25",
        "name": "Dynamic Range",
        "func": "var value = msg.payload; //value to be ranged\n//rangelimits:\nvar inputrange = flow.get('inputrange') || [0,100];//expected range of input value. an arraycontaining min and max. default to 0-100\nvar outputrange = flow.get('outputrange') || [0,1000] //range into the value to be converted. an array containing min and max. default to 0-1000\n// brainof the whole thing. hard work is done here\nconst mapNumber = (number, in_min, in_max,out_min, out_max) => {\nreturn (number - in_min) * (out_max - out_min) / (in_max - in_min) +out_min;\n};\n// here how the brain is used\nvar output =mapNumber(value,inputrange[0],inputrange[1],outputrange[0],outputrange[1]);\n// hard work isdone, place the ranged number into outgoing msg payload\noutput =Math.floor(output);\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 140,
        "wires": [
            [
                "37c7b20be3d679cd"
            ]
        ]
    },
    {
        "id": "d679541d8e270436",
        "type": "inject",
        "z": "e0524c3836207d25",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "46.7",
        "payloadType": "num",
        "x": 950,
        "y": 140,
        "wires": [
            [
                "5fde7c440feca9c7"
            ]
        ]
    },
    {
        "id": "1a6ed75775af2871",
        "type": "change",
        "z": "e0524c3836207d25",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inputrange",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5511ec1dd2471372",
        "type": "change",
        "z": "e0524c3836207d25",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outputrange",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0a914e449fe3bdc4",
        "type": "inject",
        "z": "e0524c3836207d25",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1,3]",
        "payloadType": "json",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "2762aa4a87b12193"
            ]
        ]
    },
    {
        "id": "4c1cf36d7512e8d2",
        "type": "inject",
        "z": "e0524c3836207d25",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[5,70]",
        "payloadType": "json",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "8a19b30dd503995e"
            ]
        ]
    },
    {
        "id": "fb5ff268cf0ef73b",
        "type": "change",
        "z": "e0524c3836207d25",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "num",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "5fde7c440feca9c7",
                "7199fb941a51619f"
            ]
        ]
    },
    {
        "id": "7199fb941a51619f",
        "type": "switch",
        "z": "e0524c3836207d25",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8a19b30dd503995e",
        "type": "join",
        "z": "e0524c3836207d25",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "1a6ed75775af2871"
            ]
        ]
    },
    {
        "id": "2762aa4a87b12193",
        "type": "join",
        "z": "e0524c3836207d25",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "5511ec1dd2471372"
            ]
        ]
    },
    {
        "id": "b49768c076aff759",
        "type": "inject",
        "z": "e0524c3836207d25",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 170,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c398bc39f1479cac",
        "type": "inject",
        "z": "e0524c3836207d25",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-70",
        "payloadType": "num",
        "x": 170,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "563e6ecf77d88c88",
        "type": "comment",
        "z": "e0524c3836207d25",
        "name": "weight sensor input",
        "info": "",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "37c7b20be3d679cd",
        "type": "debug",
        "z": "e0524c3836207d25",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 140,
        "wires": []
    },
    {
        "id": "89ebac38588a6bfe",
        "type": "serial in",
        "z": "e0524c3836207d25",
        "name": "",
        "serial": "a178660bdd4edcb5",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "645d45d48fda00ca"
            ]
        ]
    },
    {
        "id": "645d45d48fda00ca",
        "type": "function",
        "z": "e0524c3836207d25",
        "name": "function 11",
        "func": "// Function to convert msg.payload to a number keeping negatives as negatives\nfunction convertToNumber(msg) {\n    // Clean up the input (remove whitespace and special characters)\n    let cleanedPayload = msg.payload.trim(); // Trim whitespace from the beginning and end\n\n    // Attempt to parse the cleaned payload as a number\n    let numericValue = parseFloat(cleanedPayload);\n\n    // Check if the parsed value is a valid number\n    if (!isNaN(numericValue)) {\n        return numericValue; // Return the parsed number\n    } else {\n        return null; // Return null or any other default value if parsing fails\n    }\n}\n\n// Example usage:\nmsg.payload = convertToNumber(msg);\n\n// Print the converted value to the debug console\n//node.warn(msg.payload); // Assuming you want to log the converted value\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "91d2548325d068b6"
            ]
        ]
    },
    {
        "id": "91d2548325d068b6",
        "type": "range",
        "z": "e0524c3836207d25",
        "minin": "-1",
        "maxin": "-304",
        "minout": "4",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 750,
        "y": 400,
        "wires": [
            [
                "a657474cb8520b24"
            ]
        ]
    },
    {
        "id": "6076808375123bde",
        "type": "ui_form",
        "z": "e0524c3836207d25",
        "name": "",
        "label": "",
        "group": "77d95b16fccf1b43",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Product",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Count",
                "value": "Count",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "Count": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 490,
        "y": 60,
        "wires": [
            [
                "1b37030130587e42"
            ]
        ]
    },
    {
        "id": "1b37030130587e42",
        "type": "function",
        "z": "e0524c3836207d25",
        "name": "function 9",
        "func": "// Check if msg.payload exists\nif(msg.payload !== undefined) {\n // Construct the SQL query\n var query = `INSERTTEST,Name=${msg.payload.name},Age = ${ msg.payload.age } UID=1`;\n\n // Set the query asthe topic to be passed to InfluxDB In node\n msg.query = query;\n\n return msg;\n} else {\n //No payload found, return null\n return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 60,
        "wires": [
            [
                "a058640e4e1327e3"
            ]
        ]
    },
    {
        "id": "a058640e4e1327e3",
        "type": "influxdb out",
        "z": "e0524c3836207d25",
        "d": true,
        "influxdb": "bbc428d60ef2ad4e",
        "name": "",
        "measurement": "TEST",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "a657474cb8520b24",
        "type": "link out",
        "z": "e0524c3836207d25",
        "name": "cart",
        "mode": "link",
        "links": [
            "c5c903574a899e9d"
        ],
        "x": 975,
        "y": 400,
        "wires": []
    },
    {
        "id": "1348accf356ceeea",
        "type": "rbe",
        "z": "44d951df320b943c",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "d07e9b7bfb17bbaa"
            ]
        ]
    },
    {
        "id": "d07e9b7bfb17bbaa",
        "type": "switch",
        "z": "44d951df320b943c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "invalid",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "1ad5236c160e025f",
                "c59f158d649b17fe"
            ],
            [
                "8e5ed0fd67dac90e"
            ]
        ]
    },
    {
        "id": "8e5ed0fd67dac90e",
        "type": "change",
        "z": "44d951df320b943c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "wrong user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1ad5236c160e025f",
        "type": "debug",
        "z": "44d951df320b943c",
        "name": "debug6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "47ee259561e409f4",
        "type": "function",
        "z": "44d951df320b943c",
        "name": "function 7",
        "func": "// Check if msg.payload exists\nif (msg.payload !== undefined) {\n //Construct the SQL query\n var query = `SELECT * FROM basic WHEREUID=${msg.payload}`;\n\n // Set the query as the topic to be passed to InfluxDB In node\nmsg.query = query;\n\n return msg;\n} else {\n // No payload found, return null\n return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 180,
        "wires": [
            [
                "0aec4a46360371ad"
            ]
        ]
    },
    {
        "id": "feb8149f3e637443",
        "type": "switch",
        "z": "44d951df320b943c",
        "name": "",
        "property": "payload[0].UID",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1010,
        "y": 180,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "c59f158d649b17fe",
        "type": "rbe",
        "z": "44d951df320b943c",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "47ee259561e409f4"
            ]
        ]
    },
    {
        "id": "bff51f3fa578bcf0",
        "type": "debug",
        "z": "44d951df320b943c",
        "name": "debug17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "3fdaf91233d5f023",
        "type": "function",
        "z": "44d951df320b943c",
        "name": "function 9",
        "func": "// Check if msg.payload exists\nif(msg.payload !== undefined) {\n // Construct the SQL query\n var query = `INSERTTEST,Name=${msg.payload.name},Age = ${ msg.payload.age } UID=1`;\n\n // Set the query asthe topic to be passed to InfluxDB In node\n msg.query = query;\n\n return msg;\n} else {\n //No payload found, return null\n return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "abf9829b7a4bbe04",
        "type": "mqtt in",
        "z": "44d951df320b943c",
        "name": "",
        "topic": "QRIN",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e4587bc37a94679",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "22a1b0e2b8577ba9",
                "f7361ea692623f17"
            ]
        ]
    },
    {
        "id": "22a1b0e2b8577ba9",
        "type": "debug",
        "z": "44d951df320b943c",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "d1e5bb3e.2b8ed8",
        "type": "mqtt out",
        "z": "44d951df320b943c",
        "name": "",
        "topic": "OLED",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b275e0adb0ce085",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "e88af264.4b7408",
        "type": "inject",
        "z": "44d951df320b943c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Welcome User",
        "payloadType": "str",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "d1e5bb3e.2b8ed8"
            ]
        ]
    },
    {
        "id": "d55d633001a70c8a",
        "type": "inject",
        "z": "44d951df320b943c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "  User Unknown",
        "payloadType": "str",
        "x": 800,
        "y": 320,
        "wires": [
            [
                "d1e5bb3e.2b8ed8"
            ]
        ]
    },
    {
        "id": "7b5d59f193d7d2eb",
        "type": "switch",
        "z": "44d951df320b943c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Saurabh",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "4ff796fec9a0fd48"
            ],
            [
                "049a39424192c871"
            ]
        ]
    },
    {
        "id": "4ff796fec9a0fd48",
        "type": "trigger",
        "z": "44d951df320b943c",
        "name": "",
        "op1": "WelcomeSaurabh",
        "op2": "SHOW QR CODE",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "d1e5bb3e.2b8ed8",
                "9a42a77e2c37259f"
            ]
        ]
    },
    {
        "id": "049a39424192c871",
        "type": "trigger",
        "z": "44d951df320b943c",
        "name": "",
        "op1": "Unknown QR",
        "op2": "SHOW QR CODE",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "d1e5bb3e.2b8ed8"
            ]
        ]
    },
    {
        "id": "024fe00186326f72",
        "type": "mqtt in",
        "z": "44d951df320b943c",
        "name": "",
        "topic": "NFC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e4587bc37a94679",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "6dd6239d4bfede74",
                "9df81cbbd9943be5"
            ]
        ]
    },
    {
        "id": "6dd6239d4bfede74",
        "type": "debug",
        "z": "44d951df320b943c",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 720,
        "wires": []
    },
    {
        "id": "6a4de6a5b2519caf",
        "type": "mqtt out",
        "z": "44d951df320b943c",
        "name": "",
        "topic": "OLED",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b275e0adb0ce085",
        "x": 870,
        "y": 640,
        "wires": []
    },
    {
        "id": "2ab56f856d45f685",
        "type": "trigger",
        "z": "44d951df320b943c",
        "name": "",
        "op1": "WelcomeSaurabh",
        "op2": "SHOW QR CODE",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 680,
        "y": 620,
        "wires": [
            [
                "6a4de6a5b2519caf",
                "9a42a77e2c37259f"
            ]
        ]
    },
    {
        "id": "9a42a77e2c37259f",
        "type": "link out",
        "z": "44d951df320b943c",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "0f15a037a8b2b4c2"
        ],
        "x": 1005,
        "y": 520,
        "wires": []
    },
    {
        "id": "f7361ea692623f17",
        "type": "rbe",
        "z": "44d951df320b943c",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "7b5d59f193d7d2eb"
            ]
        ]
    },
    {
        "id": "9df81cbbd9943be5",
        "type": "rbe",
        "z": "44d951df320b943c",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "7589c008c18dd847"
            ]
        ]
    },
    {
        "id": "7589c008c18dd847",
        "type": "switch",
        "z": "44d951df320b943c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "bdb7df36",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "23ddc298",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 640,
        "wires": [
            [
                "2ab56f856d45f685"
            ],
            [
                "f36efcf4273bbb59"
            ]
        ]
    },
    {
        "id": "f36efcf4273bbb59",
        "type": "trigger",
        "z": "44d951df320b943c",
        "name": "",
        "op1": "Wrong  User",
        "op2": "SHOW QR CODE",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 680,
        "y": 660,
        "wires": [
            [
                "6a4de6a5b2519caf"
            ]
        ]
    },
    {
        "id": "0aec4a46360371ad",
        "type": "influxdb in",
        "z": "44d951df320b943c",
        "d": true,
        "influxdb": "bbc428d60ef2ad4e",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 860,
        "y": 180,
        "wires": [
            [
                "feb8149f3e637443"
            ]
        ]
    },
    {
        "id": "75b34f8fe6aacf2a",
        "type": "inject",
        "z": "44d951df320b943c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "WelcomeSaurabh",
        "payloadType": "str",
        "x": 710,
        "y": 580,
        "wires": [
            [
                "6a4de6a5b2519caf"
            ]
        ]
    },
    {
        "id": "3eaa92725a8ba75e",
        "type": "inject",
        "z": "44d951df320b943c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": " Thank   You",
        "payloadType": "str",
        "x": 780,
        "y": 720,
        "wires": [
            [
                "6a4de6a5b2519caf"
            ]
        ]
    },
    {
        "id": "38089dfc9bcbdd08",
        "type": "inject",
        "z": "44d951df320b943c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SHOW QR CODE",
        "payloadType": "str",
        "x": 990,
        "y": 580,
        "wires": [
            [
                "6a4de6a5b2519caf"
            ]
        ]
    },
    {
        "id": "56b3fc48323b44c0",
        "type": "rbe",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "8632d5d15efc82e8"
            ]
        ]
    },
    {
        "id": "8632d5d15efc82e8",
        "type": "switch",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "cont",
                "v": "invalid",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "89668dab3508f7b9",
                "6f6828505044d765"
            ],
            [
                "8ae4d5df31e74933"
            ]
        ]
    },
    {
        "id": "8ae4d5df31e74933",
        "type": "change",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "welcomeuser",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "89668dab3508f7b9",
        "type": "debug",
        "z": "dbfc939b5e087fbd",
        "name": "debug11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "13b515afd4f64188",
        "type": "debug",
        "z": "dbfc939b5e087fbd",
        "name": "debug12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 200,
        "wires": []
    },
    {
        "id": "6f6828505044d765",
        "type": "function",
        "z": "dbfc939b5e087fbd",
        "name": "function 8",
        "func": "// Check ifmsg.payload exists\nif (msg.payload !== undefined) {\n // Construct the SQL query\n var query= `SELECT * FROM basic WHERE UID=${msg.payload}`;\n\n // Set the query as the topic to bepassed to InfluxDB In node\n msg.query = query;\n\n return msg;\n} else {\n // No payloadfound, return null\n return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 200,
        "wires": [
            [
                "0d70eb2f6de63467"
            ]
        ]
    },
    {
        "id": "b3aaf3b1c514c442",
        "type": "switch",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "property": "payload[0].UID",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 960,
        "y": 120,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "21be10f389fa2b42",
        "type": "mqtt in",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "topic": "QROUT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e4587bc37a94679",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 580,
        "wires": [
            [
                "fe140db1cf0b8f54",
                "a1b5671efd0724e2"
            ]
        ]
    },
    {
        "id": "fe140db1cf0b8f54",
        "type": "debug",
        "z": "dbfc939b5e087fbd",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "66048ef13d6a0e50",
        "type": "mqtt out",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "topic": "OLED",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b275e0adb0ce085",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "4ff9ee8bf617f84a",
        "type": "inject",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Welcome User",
        "payloadType": "str",
        "x": 680,
        "y": 420,
        "wires": [
            [
                "66048ef13d6a0e50"
            ]
        ]
    },
    {
        "id": "ac1c90c39cc311b3",
        "type": "inject",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "  User Unknown",
        "payloadType": "str",
        "x": 840,
        "y": 380,
        "wires": [
            [
                "66048ef13d6a0e50"
            ]
        ]
    },
    {
        "id": "1dfa2a16f20f82ca",
        "type": "trigger",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "op1": " Thank   You",
        "op2": "SHOW QR CODE",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "66048ef13d6a0e50",
                "90a4dcba02102cf8"
            ]
        ]
    },
    {
        "id": "90a4dcba02102cf8",
        "type": "link out",
        "z": "dbfc939b5e087fbd",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "400f09c6b8ada5d0"
        ],
        "x": 1065,
        "y": 420,
        "wires": []
    },
    {
        "id": "a1b5671efd0724e2",
        "type": "rbe",
        "z": "dbfc939b5e087fbd",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "1dfa2a16f20f82ca"
            ]
        ]
    },
    {
        "id": "0d70eb2f6de63467",
        "type": "influxdb in",
        "z": "dbfc939b5e087fbd",
        "d": true,
        "influxdb": "bbc428d60ef2ad4e",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 920,
        "y": 200,
        "wires": [
            [
                "13b515afd4f64188"
            ]
        ]
    },
    {
        "id": "23e734fa64a64081",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'reset'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "e21c57ae8a5934d9",
                "0e80e831b7fbd40a"
            ]
        ]
    },
    {
        "id": "ecb42484ec6ea7e1",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'start'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 80,
        "wires": [
            [
                "e21c57ae8a5934d9",
                "0e80e831b7fbd40a"
            ]
        ]
    },
    {
        "id": "02e0cda0c86ab95f",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'stop'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 120,
        "wires": [
            [
                "e21c57ae8a5934d9",
                "0e80e831b7fbd40a"
            ]
        ]
    },
    {
        "id": "3b8427d7bdc26f8d",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "elapsed.time",
        "targetType": "msg",
        "statusVal": "elapsed.millis",
        "statusType": "auto",
        "x": 1147,
        "y": 80,
        "wires": []
    },
    {
        "id": "e21c57ae8a5934d9",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "lastcommand",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "command",
        "targetType": "msg",
        "statusVal": "command",
        "statusType": "auto",
        "x": 927,
        "y": 140,
        "wires": []
    },
    {
        "id": "790e8b98ebf9efc5",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 447,
        "y": 120,
        "wires": [
            [
                "02e0cda0c86ab95f"
            ]
        ]
    },
    {
        "id": "774c847bb51bd111",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 416,
        "y": 180,
        "wires": [
            [
                "23e734fa64a64081"
            ]
        ]
    },
    {
        "id": "57d052a92883feec",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 447,
        "y": 40,
        "wires": [
            [
                "ecb42484ec6ea7e1"
            ]
        ]
    },
    {
        "id": "b21373d244cb0454",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 416,
        "y": 220,
        "wires": [
            [
                "2b8e0b31c295ed3a"
            ]
        ]
    },
    {
        "id": "2b8e0b31c295ed3a",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'status'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 220,
        "wires": [
            [
                "0e80e831b7fbd40a",
                "e21c57ae8a5934d9"
            ]
        ]
    },
    {
        "id": "020c7881044cd110",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 237,
        "y": 80,
        "wires": [
            [
                "ecb42484ec6ea7e1"
            ]
        ]
    },
    {
        "id": "066e25f78c890607",
        "type": "delay",
        "z": "494bdff60aa691a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 257,
        "y": 200,
        "wires": [
            [
                "2b8e0b31c295ed3a"
            ]
        ]
    },
    {
        "id": "df699c9bad86ede4",
        "type": "delay",
        "z": "494bdff60aa691a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 257,
        "y": 160,
        "wires": [
            [
                "23e734fa64a64081"
            ]
        ]
    },
    {
        "id": "1361293ce6514620",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'reset'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "64dc39dd932f7fc6",
                "641b62b6aa112c6e"
            ]
        ]
    },
    {
        "id": "badae61f091b2a72",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'start'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 588,
        "y": 380,
        "wires": [
            [
                "64dc39dd932f7fc6",
                "641b62b6aa112c6e"
            ]
        ]
    },
    {
        "id": "641566ba1053041b",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'stop'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 588,
        "y": 420,
        "wires": [
            [
                "64dc39dd932f7fc6",
                "641b62b6aa112c6e"
            ]
        ]
    },
    {
        "id": "c5d06fcbfff57837",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "elapsed.time",
        "targetType": "msg",
        "statusVal": "elapsed.millis",
        "statusType": "auto",
        "x": 1107,
        "y": 380,
        "wires": []
    },
    {
        "id": "64dc39dd932f7fc6",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "lastcommand",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "command",
        "targetType": "msg",
        "statusVal": "command",
        "statusType": "auto",
        "x": 887,
        "y": 440,
        "wires": []
    },
    {
        "id": "f9de27a2749a8fe4",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 407,
        "y": 420,
        "wires": [
            [
                "641566ba1053041b"
            ]
        ]
    },
    {
        "id": "b658d26018fc9042",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 376,
        "y": 480,
        "wires": [
            [
                "1361293ce6514620"
            ]
        ]
    },
    {
        "id": "6f2ff8a745f999a9",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 407,
        "y": 340,
        "wires": [
            [
                "badae61f091b2a72"
            ]
        ]
    },
    {
        "id": "826f1f6ac1ad5985",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 376,
        "y": 520,
        "wires": [
            [
                "8ef1653bfeefd94e"
            ]
        ]
    },
    {
        "id": "8ef1653bfeefd94e",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'status'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 588,
        "y": 520,
        "wires": [
            [
                "641b62b6aa112c6e",
                "64dc39dd932f7fc6"
            ]
        ]
    },
    {
        "id": "01c1bbbca5dedcb8",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 197,
        "y": 380,
        "wires": [
            [
                "badae61f091b2a72"
            ]
        ]
    },
    {
        "id": "327271b930447c5a",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "debug14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 197,
        "y": 320,
        "wires": []
    },
    {
        "id": "76da71a9ed00e65f",
        "type": "delay",
        "z": "494bdff60aa691a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 217,
        "y": 500,
        "wires": [
            [
                "8ef1653bfeefd94e"
            ]
        ]
    },
    {
        "id": "58e4e1cb77f8598e",
        "type": "delay",
        "z": "494bdff60aa691a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 217,
        "y": 460,
        "wires": [
            [
                "1361293ce6514620"
            ]
        ]
    },
    {
        "id": "01b3197f0f64e61f",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'reset'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "1c17047e22c0d805",
                "7de1dc0b7d393ae5"
            ]
        ]
    },
    {
        "id": "64d1f60d72a459db",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'start'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 568,
        "y": 660,
        "wires": [
            [
                "1c17047e22c0d805",
                "7de1dc0b7d393ae5"
            ]
        ]
    },
    {
        "id": "ea02c2e46204292b",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'stop'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 568,
        "y": 700,
        "wires": [
            [
                "1c17047e22c0d805",
                "7de1dc0b7d393ae5"
            ]
        ]
    },
    {
        "id": "f7c9db21a10b7057",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "elapsed.time",
        "targetType": "msg",
        "statusVal": "elapsed.millis",
        "statusType": "auto",
        "x": 1087,
        "y": 660,
        "wires": []
    },
    {
        "id": "1c17047e22c0d805",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "lastcommand",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "command",
        "targetType": "msg",
        "statusVal": "command",
        "statusType": "auto",
        "x": 867,
        "y": 720,
        "wires": []
    },
    {
        "id": "548a5602785e4b7c",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 387,
        "y": 700,
        "wires": [
            [
                "ea02c2e46204292b"
            ]
        ]
    },
    {
        "id": "3cfe8e22f8c04cbd",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 356,
        "y": 760,
        "wires": [
            [
                "01b3197f0f64e61f"
            ]
        ]
    },
    {
        "id": "429a8bce92e69a9a",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 387,
        "y": 620,
        "wires": [
            [
                "64d1f60d72a459db"
            ]
        ]
    },
    {
        "id": "76a02c192fded221",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 356,
        "y": 800,
        "wires": [
            [
                "9a66ae3b5d548598"
            ]
        ]
    },
    {
        "id": "9a66ae3b5d548598",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'status'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 568,
        "y": 800,
        "wires": [
            [
                "7de1dc0b7d393ae5",
                "1c17047e22c0d805"
            ]
        ]
    },
    {
        "id": "7b489587ac21f597",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 177,
        "y": 660,
        "wires": [
            [
                "64d1f60d72a459db"
            ]
        ]
    },
    {
        "id": "c66fbbe8114aa091",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "debug15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 177,
        "y": 600,
        "wires": []
    },
    {
        "id": "d090a0445066ed2e",
        "type": "delay",
        "z": "494bdff60aa691a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 197,
        "y": 780,
        "wires": [
            [
                "9a66ae3b5d548598"
            ]
        ]
    },
    {
        "id": "0b10163acca38166",
        "type": "delay",
        "z": "494bdff60aa691a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 197,
        "y": 740,
        "wires": [
            [
                "01b3197f0f64e61f"
            ]
        ]
    },
    {
        "id": "1f86ba35659cc519",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'reset'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1040,
        "wires": [
            [
                "d75d02ada5710ad7",
                "ab873b89e0338745"
            ]
        ]
    },
    {
        "id": "ad7388ee8a4d7e1d",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'start'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 568,
        "y": 940,
        "wires": [
            [
                "d75d02ada5710ad7",
                "ab873b89e0338745"
            ]
        ]
    },
    {
        "id": "c4fbdf29679bf58b",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'stop'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 568,
        "y": 980,
        "wires": [
            [
                "d75d02ada5710ad7",
                "ab873b89e0338745"
            ]
        ]
    },
    {
        "id": "82a481b8658c02d0",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "elapsed.time",
        "targetType": "msg",
        "statusVal": "elapsed.millis",
        "statusType": "auto",
        "x": 1087,
        "y": 940,
        "wires": []
    },
    {
        "id": "d75d02ada5710ad7",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "lastcommand",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "command",
        "targetType": "msg",
        "statusVal": "command",
        "statusType": "auto",
        "x": 867,
        "y": 1000,
        "wires": []
    },
    {
        "id": "da67ce1985bf8a63",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 387,
        "y": 980,
        "wires": [
            [
                "c4fbdf29679bf58b"
            ]
        ]
    },
    {
        "id": "68c509d386e2b627",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 356,
        "y": 1040,
        "wires": [
            [
                "1f86ba35659cc519"
            ]
        ]
    },
    {
        "id": "2ad8a06b5374bf18",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 387,
        "y": 900,
        "wires": [
            [
                "ad7388ee8a4d7e1d"
            ]
        ]
    },
    {
        "id": "d01bd7048b298cba",
        "type": "inject",
        "z": "494bdff60aa691a5",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 356,
        "y": 1080,
        "wires": [
            [
                "11df277ae4ef6887"
            ]
        ]
    },
    {
        "id": "11df277ae4ef6887",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "{command:'status'}",
        "rules": [
            {
                "t": "set",
                "p": "command",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 568,
        "y": 1080,
        "wires": [
            [
                "ab873b89e0338745",
                "d75d02ada5710ad7"
            ]
        ]
    },
    {
        "id": "a5e039562e58375f",
        "type": "change",
        "z": "494bdff60aa691a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 177,
        "y": 940,
        "wires": [
            [
                "ad7388ee8a4d7e1d"
            ]
        ]
    },
    {
        "id": "3a7106fbc07c81ec",
        "type": "debug",
        "z": "494bdff60aa691a5",
        "name": "debug16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 177,
        "y": 880,
        "wires": []
    },
    {
        "id": "80fe10d4001efcdf",
        "type": "delay",
        "z": "494bdff60aa691a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 197,
        "y": 1060,
        "wires": [
            [
                "11df277ae4ef6887"
            ]
        ]
    },
    {
        "id": "210e84b5097ef979",
        "type": "delay",
        "z": "494bdff60aa691a5",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 197,
        "y": 1020,
        "wires": [
            [
                "1f86ba35659cc519"
            ]
        ]
    },
    {
        "id": "0e80e831b7fbd40a",
        "type": "hourglass",
        "z": "494bdff60aa691a5",
        "name": "",
        "persistId": "",
        "humanizeLocale": "",
        "x": 917,
        "y": 80,
        "wires": [
            [
                "3b8427d7bdc26f8d"
            ]
        ]
    },
    {
        "id": "641b62b6aa112c6e",
        "type": "hourglass",
        "z": "494bdff60aa691a5",
        "name": "",
        "persistId": "",
        "humanizeLocale": "",
        "x": 877,
        "y": 380,
        "wires": [
            [
                "c5d06fcbfff57837"
            ]
        ]
    },
    {
        "id": "7de1dc0b7d393ae5",
        "type": "hourglass",
        "z": "494bdff60aa691a5",
        "name": "",
        "persistId": "",
        "humanizeLocale": "",
        "x": 857,
        "y": 660,
        "wires": [
            [
                "f7c9db21a10b7057"
            ]
        ]
    },
    {
        "id": "ab873b89e0338745",
        "type": "hourglass",
        "z": "494bdff60aa691a5",
        "name": "",
        "persistId": "",
        "humanizeLocale": "",
        "x": 857,
        "y": 940,
        "wires": [
            [
                "82a481b8658c02d0"
            ]
        ]
    },
    {
        "id": "0f15a037a8b2b4c2",
        "type": "link in",
        "z": "494bdff60aa691a5",
        "name": "link in 1",
        "links": [
            "9a42a77e2c37259f"
        ],
        "x": 75,
        "y": 80,
        "wires": [
            [
                "020c7881044cd110"
            ]
        ]
    },
    {
        "id": "400f09c6b8ada5d0",
        "type": "link in",
        "z": "494bdff60aa691a5",
        "name": "link in 2",
        "links": [
            "90a4dcba02102cf8"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "02e0cda0c86ab95f",
                "066e25f78c890607",
                "df699c9bad86ede4"
            ]
        ]
    },
    {
        "id": "22621c0805b8692c",
        "type": "change",
        "z": "96cb2a9686aefb1c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "elapsed.time.seconds",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "8298bd6595f2fb6b"
            ]
        ]
    },
    {
        "id": "658b1df6d50e86e2",
        "type": "change",
        "z": "96cb2a9686aefb1c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "elapsed.time.minutes",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "dcf3cb50af0ae303",
        "type": "change",
        "z": "96cb2a9686aefb1c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "elapsed.time.hours",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "662c0bec1613be9a",
        "type": "link in",
        "z": "96cb2a9686aefb1c",
        "name": "user 1time",
        "links": [
            "a9d5b20efcc14ce4"
        ],
        "x": 195,
        "y": 140,
        "wires": [
            [
                "22621c0805b8692c",
                "dcf3cb50af0ae303",
                "658b1df6d50e86e2"
            ]
        ]
    },
    {
        "id": "8298bd6595f2fb6b",
        "type": "trigger",
        "z": "96cb2a9686aefb1c",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "date",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "0eb5d7d54ccb29f3",
        "type": "comment",
        "z": "96cb2a9686aefb1c",
        "name": "Save to Database",
        "info": "",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "19e09299f4c32970",
        "type": "influxdb out",
        "z": "96cb2a9686aefb1c",
        "d": true,
        "influxdb": "bbc428d60ef2ad4e",
        "name": "user1databse",
        "measurement": "user1seconds",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "29f5118b9cadd8f3",
        "type": "influxdb out",
        "z": "96cb2a9686aefb1c",
        "d": true,
        "influxdb": "bbc428d60ef2ad4e",
        "name": "user1databse",
        "measurement": "user1minutes",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "f2661e91e58303c8",
        "type": "influxdb out",
        "z": "96cb2a9686aefb1c",
        "d": true,
        "influxdb": "bbc428d60ef2ad4e",
        "name": "user1databse",
        "measurement": "user1hours",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "e35f276bae414922",
        "type": "influxdb in",
        "z": "96cb2a9686aefb1c",
        "d": true,
        "influxdb": "bbc428d60ef2ad4e",
        "name": "",
        "query": "DROPMEASUREMENT user1seconds;\nDROP MEASUREMENT user1minutes;\nDROPMEASUREMENTuser1hours;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 680,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e9330fd0.e252c",
        "type": "inject",
        "z": "ba3706d711028372",
        "d": true,
        "name": "Query Cart Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 600,
        "wires": [
            [
                "620de4f0.7ba2e8"
            ]
        ]
    },
    {
        "id": "3fcfe09d.f0133e",
        "type": "function",
        "z": "ba3706d711028372",
        "d": true,
        "name": "Format Cart Data",
        "func": "var cartItems = msg.payload;\nvar formattedItems = cartItems.map(item => {\n    return {\n        id: item.id,\n        name: item.name,\n        price: item.price,\n        quantity: item.quantity\n    };\n});\n\nreturn { payload: formattedItems };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 600,
        "wires": [
            [
                "20f4df0c.18e62"
            ]
        ]
    },
    {
        "id": "cdb6bf3b99897ee1",
        "type": "inject",
        "z": "ba3706d711028372",
        "d": true,
        "name": "Query Cart Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "e2e7c1c4d8b88eb3"
            ]
        ]
    },
    {
        "id": "cd75f4df404be9ac",
        "type": "function",
        "z": "ba3706d711028372",
        "d": true,
        "name": "Format Cart Data",
        "func": "var cartItems = msg.payload;\nvar totalPrice = 0;\nvar totalQuantity = 0;\n\nvar formattedItems = cartItems.map(item => {\n    totalPrice += item.price * item.quantity;\n    totalQuantity += item.quantity;\n    return {\n        id: item.id,\n        name: item.name,\n        price: item.price,\n        quantity: item.quantity\n    };\n});\n\nformattedItems.push({\n    //id: 'total',\n    name: 'Total',\n    price: totalPrice,\n    quantity: totalQuantity\n});\n\nreturn { payload: formattedItems };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d486963d3f138f56",
        "type": "change",
        "z": "ba3706d711028372",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "529f49a52fd184c9"
            ]
        ]
    },
    {
        "id": "99659d865a7b543e",
        "type": "ui_button",
        "z": "ba3706d711028372",
        "name": "",
        "group": "a1db89b2574e6865",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Show Cart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "f3955b9d69f035b7"
            ]
        ]
    },
    {
        "id": "a06317b4c8b34a0f",
        "type": "ui_button",
        "z": "ba3706d711028372",
        "name": "",
        "group": "48d96c8d.0808b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Show Exit QR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "ebc7c3f6989ca86d"
            ]
        ]
    },
    {
        "id": "21816027a2537738",
        "type": "ui_button",
        "z": "ba3706d711028372",
        "name": "",
        "group": "b1231cf71da4eb96",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "payment",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1f94ef645ec0e2d7",
        "type": "ui_toast",
        "z": "ba3706d711028372",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "d486963d3f138f56"
            ]
        ]
    },
    {
        "id": "f3955b9d69f035b7",
        "type": "ui_ui_control",
        "z": "ba3706d711028372",
        "name": "",
        "events": "change",
        "x": 260,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ebc7c3f6989ca86d",
        "type": "ui_ui_control",
        "z": "ba3706d711028372",
        "name": "",
        "events": "change",
        "x": 260,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "529f49a52fd184c9",
        "type": "ui_ui_control",
        "z": "ba3706d711028372",
        "name": "",
        "events": "change",
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "20f4df0c.18e62",
        "type": "ui_template",
        "z": "ba3706d711028372",
        "d": true,
        "group": "48d96c8d.0808b8",
        "name": "Cart Display",
        "order": 1,
        "width": "6",
        "height": "12",
        "format": "<table>\n    <thead>\n        <tr>\n            <th>ID</th>\n            <th>Name</th>\n            <th>Price</th>\n            <th>Quantity</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"item in msg.payload\">\n            <td>{{item.id}}</td>\n            <td>{{item.name}}</td>\n            <td>{{item.price}}</td>\n            <td>{{item.quantity}}</td>\n        </tr>\n    </tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 990,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "eeab7a9934210deb",
        "type": "ui_template",
        "z": "ba3706d711028372",
        "group": "48d96c8d.0808b8",
        "name": "Cart Display",
        "order": 1,
        "width": "6",
        "height": "12",
        "format": "<table>\n    <thead>\n        <tr>\n            <th>ID</th>\n            <th>Name</th>\n            <th>Price</th>\n            <th>Quantity</th>\n        </tr>\n    </thead>\n    <tbody>\n        <trng-repeat=\"msg.payload\">\n            <td>1</td>\n            <td>Biscuit</td>\n            <td>20rs</td>\n            <td>{{msg.payload}}</td>\n        </tr>\n    </tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 530,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "620de4f0.7ba2e8",
        "type": "influxdb in",
        "z": "ba3706d711028372",
        "d": true,
        "influxdb": "56489a9b4f78aac7",
        "name": "Query Cart Data",
        "query": "SELECT * FROM cart",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 520,
        "y": 600,
        "wires": [
            [
                "3fcfe09d.f0133e"
            ]
        ]
    },
    {
        "id": "e2e7c1c4d8b88eb3",
        "type": "influxdb in",
        "z": "ba3706d711028372",
        "d": true,
        "influxdb": "56489a9b4f78aac7",
        "name": "Query Cart Data",
        "query": "SELECT * FROM cart",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 520,
        "y": 500,
        "wires": [
            [
                "cd75f4df404be9ac"
            ]
        ]
    },
    {
        "id": "d6d65794c9de7de9",
        "type": "ui_media",
        "z": "ba3706d711028372",
        "group": "a1db89b2574e6865",
        "name": "",
        "width": "6",
        "height": "6",
        "order": 2,
        "category": "entry",
        "file": "Untitled 1.png",
        "layout": "expand",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 410,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "86e36585b0225359",
        "type": "ui_media",
        "z": "ba3706d711028372",
        "group": "8e22e7257a62faa2",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 2,
        "category": "exit",
        "file": "Untitled 1.png",
        "layout": "expand",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c5c903574a899e9d",
        "type": "link in",
        "z": "ba3706d711028372",
        "name": "cart",
        "links": [
            "a657474cb8520b24"
        ],
        "x": 155,
        "y": 340,
        "wires": [
            [
                "da9434bef909249f"
            ]
        ]
    },
    {
        "id": "da9434bef909249f",
        "type": "switch",
        "z": "ba3706d711028372",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "eeab7a9934210deb"
            ]
        ]
    },
    {
        "id": "001e4decf010e13a",
        "type": "rpi-gpio in",
        "z": "fee81c6208094d25",
        "d": true,
        "name": "",
        "pin": "4",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "d2e594c0ce10acf2"
            ]
        ]
    },
    {
        "id": "d2e594c0ce10acf2",
        "type": "switch",
        "z": "fee81c6208094d25",
        "d": true,
        "name": "Receive data from motion sensor",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "cb976f1743e37db7"
            ]
        ]
    },
    {
        "id": "cf3a160d4fd2e3f0",
        "type": "debug",
        "z": "fee81c6208094d25",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "a80fa8e0a2274093",
        "type": "inject",
        "z": "fee81c6208094d25",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "d2e594c0ce10acf2"
            ]
        ]
    },
    {
        "id": "cb976f1743e37db7",
        "type": "pythonshell in",
        "z": "fee81c6208094d25",
        "d": true,
        "name": "",
        "pyfile": "/home/pi/facial-recognition-main/facial_req.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 780,
        "y": 340,
        "wires": [
            [
                "cf3a160d4fd2e3f0",
                "5f91aacf04543166"
            ]
        ]
    },
    {
        "id": "5f91aacf04543166",
        "type": "image",
        "z": "fee81c6208094d25",
        "d": true,
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 980,
        "y": 280,
        "wires": []
    }
]